name: Update Docs

on:
  release:
    types:
      - created

jobs:
  build:
    name: Update Docs (pkg.go.dev)
    runs-on: ubuntu-latest
    steps:
      - name: Pull new module version
        uses: andrewslotin/go-proxy-pull-action@master
